body {
    font-size: 20px;
    background-color: #FAEBD7;
    font-family: 'Bree Serif', serif;

}

footer{
  background-color: #FAEBD7;
  width: 965px;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-align: left;

}



.main {
  display: grid;
  grid-gap: 25px;
}

.top {
  display: grid;
  grid-gap:20px;
  padding: 30px 20px;
   grid-template-areas:
    "gables gables gables about1"
 
   
}


.title {
  color: black;
  padding-left:10px;
  text-align: center;
  align-content: center;
  min-height: 45px;


}

.coral {
  grid-area: gables;
  background: #ffffff;
  background-image: url("images/cb.jpg");
  color: #000000;
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: grid;
  justify-content: start;
  align-content: center;


}

h1 {
  margin-top: 55px;
  font-family: 'Impact', cursive;
  text-align: center;
  font-size: 128px;
  padding-left: 30px;
  
}

h6 {
  margin-top:5px;
  font-family: 'Bree Serif', bold;
  text-align: center;
  font-size: 70px;
  padding-left: 50px;
  

}

.about {
  background-color:#ffffff;
  color: black;
  display: grid;
  align-items: center;
  align-content: center;
  

}

.about1 {
  height: auto;
  border: #000000;
  padding-bottom: 100%;
  margin-right: 10px;
  margin-bottom: -1%;
  padding: 15px;

}

.coral  {
  padding-top: 2px;
    font-size: 20px;
    position:relative;

  }

/*Features Section*/

.features ul {
  display: grid;
  padding: 15px;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));

}

li {
margin-right: 10px;
margin-left: 10px;
text-align: center;
font-size: 28px;
}

.features a{
  color: white;
  background-color: #E9967A;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  margin-bottom: 15px;
  }

  .features a:hover{
    text-decoration: none;
    background-color: #8B0000;
    margin-right: 20px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.gallery img {
  border: 1px solid #ccc;
  box-shadow: 4px 4px 8px 4px  #E9967A;
  max-width: 100%;
}
.gallery h2{
  grid-column: 1/ -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  color: #000000;
  font-size: 40px;
  padding-bottom: 20px;
}

.gallery h2:before, .gallery h2:after{
  display: block;
  content: '';
  height: 10px;
  background: #E9967A;
  padding-top: 10px;
  align-items: center;
}

.gallery img{
  width: 100%;
}


.gallery p{
  text-align: center;
  padding-top: 40px;
}


/*Landmarks section*/

h4 {
position: relative;
font-size: 80px;
padding-top: 0px;
text-align: center;

}

.about2 {
  padding: 35px;

}

.land{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.land img{
  width: 400px;
  height: 360px;
  padding-top: 25px;

}


/*Food section*/
h4 {
  position: relative;
  font-size: 80px;
  padding-top: 0px;
  text-align: center;

}

h3 {
  position: relative;
  font-size: 50px;
    text-shadow: 0px 0 white;

}

.locations {
  grid-template-columns: auto;

}


.foodie {
  display: grid;
  padding-top: 60px;
  grid-template-columns: auto;
  

}

.food {
  padding: 2px;
}




@media (max-width: 990px){
  .top{
    grid-template-areas:
    "gables"
    "gables" }


    }


@media (max-width: 770px) {

  .top{
    grid-template-areas:
    "gables"
    "gables" }

}


  @media (max-width: 480px){
    .top{
      grid-template-areas:
      "gables gables"
   
    }
